*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Story Script", cursive;
    scroll-behavior: smooth;
}

p {
    color: #111;
}

header {
    background-color:#ff0157;
    color: white;
}
header .home a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
header .home a i {
    justify-content: center;
}

header .aboutus h1 {
    text-align: center;
    padding: 20px 10px;
    font-size: 2em;
}

main {
    padding: 60px;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 500px;
    margin-bottom: 5px;
}

.row .col2 {
    width: 48%;
}

.col2 .imgbox {
    width: 90%;
    height: 90%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
}
.col2 .imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mission h2{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}

.mission p{
    margin: 0 auto 30px auto;
    line-height: 1.6;
    text-align: center;
    font-size: 1.2em;
}
.history h2{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}
.history p{
    margin: 0 auto 30px auto;
    line-height: 1.6;
    text-align: center;
    font-size: 1.2em;
}

.services h2{
    margin-bottom: 15px;
    text-align: center;
    font-size: 2em;
}
.services p{
    margin: 0 auto 30px auto;
    line-height: 1.6;
    text-align: center;
    font-size:1.2em;
}

.services ul {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.6;
    font-size: 1.2em;
}

.contact{
    margin-bottom: 10px;
}

.contact h2{
    margin-bottom: 15px;
    font-size: 1.5em;
}

.contact p{
    margin: 0 auto 10px auto;
    font-size: 1.2em;
}

.contact a {
    color: #ff0157;
    text-decoration: none;
}

.footer{
    padding: 10px;
    text-align: center;
    font-size: 1em;
    background-color: #111;
}

.footer .icons{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.footer .icons a{
    color: #fff;
    font-size: 1.5em;
    margin: 0 10px;
}

.footer p{
    color: #fff;
    margin-top: 10px;
}


/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        padding: 5px;
    }

    .row {
    max-height: 600px;
    }

    .col2 .imgbox {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }

    .row h2{
        font-size: 1.5em;
    }

    .row p{
        font-size: medium;
    }

    .mission p{
        display:flex;
    }

    .history{
        margin-top: 10px;
    }
}